{% extends "base.html" %}
{% load static %}


{% block content %}        
    <div class="container">
        <div class="row">
            <div class="col"><img class="imageman" src="https://api.monosnap.com/file/download?id=qcsAFCj0QEAMJxsOOxFj972RE2Wjnk" alt="man lifting weights"></img></div>
        </div>    
        <div class="row">
            <div class="col-12 card-about2">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                </p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 card-about2">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!</p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
            <div class="col-12 card-about3">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                </p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
        </div>    
        <div class="row">
            <div class="col-12"><img class="benefits" src="https://api.monosnap.com/file/download?id=61WiZuM9DbOjUHTTUbnX4JIbyyWFEN" alt="info box describing pwdr benefits"></img></div>
        </div>  
    </div>
{% endblock %}

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block postloadjs %}

{% endblock %}
        
 