{% extends "base.html" %}
{% load static %}


{% block content %}        
    <div class="container">
        <div class="row">
            <div class="col"><img class="imageman" src="media/man.jpg"></img></div>
        </div>    
        <div class="row">
            <div class="col-12 card-about2">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                </p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 card-about2">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!</p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
            <div class="col-12 card-about3">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                </p>
                <br>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum!
                <br>
                </p>
            </div>
        </div>    
        <div class="row">
            <div class="col-12"><img class="benefits" src="media/benefits.png"></img></div>
        </div>  
    </div>
{% endblock %}

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block postloadjs %}

{% endblock %}
        
 