{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}        
    <div class="container h-100">
        <div class="row top">
            <div class="col-10 md-6 sm-2"> 
                <div class="col-12"> 
                    <h1 class="pwdr-is">Pwdr is
                        <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "bars.", "workout.", "vegan.", "energy.", "powder." ]'>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 md-6 sm-2 index-shop"> 
                <h2 class="index-shop">
                    <a href="{% url 'products' %}" class="btn-lg btn-black rounded-0 text-white text-uppercase">Shop Now</a>
                </h2>  
            </div>
        </div>
    </div>
{% endblock %}

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block postloadjs %}
<script type="text/javascript">
    var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // Inject CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};
</script>
{% endblock %}
        
 