html {
    height: 100%;
}

body {
    background: url('/media/pwdr-hero-mockup-lg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Source Code Pro';
}

/* by me */
#pwdr- {
    font-family: 'Source Code Pro', monospace;
    font-size: 35px;
}

.right-menu {
    color:white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}


.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* hover on category badges */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.quantity {
    justify-content: center;
}

.qty_input1 {
    align-content: center ;
}

.btt-link,
.update-item,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* index page animation styling */

.top {
    padding-top: 150px;
    padding-left: 100px;
}

.pwdr-is {
    background-color: white;
    border-radius: 5%;
}

.index-shop {
    padding-left: 400px;
}


.pwdr-is, .index-shop {
    font-weight: 300;
    margin: 0.4em 0;
}

.pwdr-is { font-size: 3.5em; }
.index-shop {
    color: #888;
    font-size: 2em;
}

#footer {
   left:0px;
   bottom:0px;
   z-index:1;
   width:100%;
   overflow-x: hidden;
}

.footer-links {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* logout page footer fix */
.logout {
    padding-bottom: 250px;
}


/* contact page  */

.contact {
    padding-bottom: 20px;
    margin-top: 200px;
}

.card-bg {
    background-color: #c0f1d5;
}
/* form elements */
#id_first_name 
#id_last_name,
#id_email_address, 
#id_message {
    border-radius: 5%;
    width: fit-content;
}


.submit {
    margin-bottom: 100px;
}

/* faq page */
.card-faq {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: white;
    padding: 15px;
}

/* about us */
.imageman {
    width:1000px;
    height: 700px;
    margin-top:150px;
    border-radius: 5%;
    margin-bottom:20px;
}


.benefits {
    width:970px;
    height: 400px;
    margin-bottom: 100px;
    border-radius: 5%;
    padding-left: 15px;
}


.card-about2 {
    margin-right: 75px;
    padding-top:15px;
    background: white;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:60px;
    padding-bottom:15px;
    border-radius:3%;
    margin-left:30px;
    text-align: center;
}

.card-about3 {
    margin-right: 75px;
    padding-top:15px;
    background: white;
    margin-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:60px;
    padding-bottom:15px;
    border-radius:3%;
    margin-left:30px;
    text-align: center;
}


/* -------------------------------- Media Queries */

/* Safari 10. +later */
@media not all and (min-resolution:.001dpcm) { 
    @media {
    /* index page animation styling */

.top {
    padding-top: 150px;
    padding-left: 100px;
}

.pwdr-is {
    background-color: white;
    border-radius: 5%;
}

.index-shop {
    padding-left: 400px;
}


.pwdr-is, .index-shop {
    font-weight: 300;
    margin: 0.4em 0;
}

.pwdr-is { font-size: 3.5em; }
.index-shop {
    color: #888;
    font-size: 2em;
}


.footer-links {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    }
}}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 80%;
    }
/* my customisation */
    .offset-lg-2 {
        margin-left: 0;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}


/* responsive devices */
@media (max-width: 1024px) {
    .imageman {
        width:900px;
        height: 700px;
        margin-top:150px;
        border-radius: 5%;
        margin-bottom:20px;
    }


    .benefits {
        width:900px;
        height: 400px;
        margin-bottom: 100px;
        border-radius: 5%;
        padding-left: 15px;
    }

    .card-about2 {
        margin-left:0 ;
        } 

    .card-about3 {
        margin-left:0 ;
        }

}

@media (max-width: 990px) and (min-width: px) {
    .index-shop {
        padding-left: 275px;
    }
}


/* ipad */


@media (max-width: 990px) and (min-width: 766px) {
    .index-shop {
        padding-left: 290px;
    }
}

@media (max-width: 770px) and (min-width: 760px) {
    .index-shop {
        padding-left: 275px;
    }

    #id_message {
        width: 246px;
    }
    
    .imageman {
        width:700px;
    }

    .benefits {
        width: 700px;
    }
}

@media (max-width: 764px) and (min-width: 521px) {
    .index-shop {
        padding-left: 200px;
    }

    #id_message {
        width: 230px;
    }
}

/* surface duo */
@media (max-width: 540px) {
    .imageman {
        width: 500px;
        height:320px;

    }

    .benefits {
        width: 500px;
        height:320px;
        padding:0px;
    }

}

}
@media (max-width: 520px)  {
    .index-shop {
        padding-left: 190px;
    }

    .benefits {
        width: 500px;
        height: 250px;
    }

    .imageman {
        width: 500px;
        height: 250px;
    }

    #id_message {
        width: 190px;
    }
}

@media (max-width: 460px) and (min-width: 430px) {
    .index-shop {
        padding-left: 150px;
    }

    .pwdr-is {
        font-size: 40px;
    }
}

/* Pixel2 */
@media (max-width: 429px) and (min-width: 375px) {
    #id_message {
        width: 220px;
    }
    .benefits {
        width: 375px;
        height: 200px;
    }

    .imageman {
        width: 375px;
        height: 200px;
    }
   
    .pwdr-is {
        font-size: 3em;
    }

    .index-shop {
        padding-left: 90px;
    }

    .sign {
        padding-left: 75px;
    }

    .top {
        padding-left:50px;
    }
}


@media (max-width: 375px) and (min-width: 360px) {
    .index-shop {
        padding-left: 120px;
    }

    .contactus {
        font-size: 30px;
    }

    #id_first_name, #id_last_name,
    #id_email_address, #id_message {
        width: 135px;
    }

    .top {
        padding-left: 60px;
    }

    .benefits {
        width: 340px;
        height: 200px;
    }

    .imageman {
        width: 320px;
        height: 200px;
    }

    .pwdr-is {
        font-size: 2.5em;
        padding-left: 5px;
    }

    .index-shop {
        padding-left: 100px;
    }

    .sign {
        padding-left: 50px;
    }

}

@media (max-width: 359px) and (min-width: 319px) {
    .index-shop {
        padding-left: 85px;
    }

    .pwdr-is {
        font-size: 3em;
    }

    .top {
        padding-left: 50px;
    }
}

/* iphone 5 SE */
@media (max-width: 320px) {

    .index-shop {
        padding-left: 75px;
        margin-bottom: 75px;

    }

    .pwdr-is {
        font-size: 35px;
        padding-left: 5px;
    }

    .top {
        padding-top: 100px;
        padding-left: 45px;
        margin-bottom: 50px;
    }

    .card-inner {
        padding:0px !important;
    }

    #id_first_name, #id_last_name,
    #id_email_address, #id_message {
        width: 190px;
    }

    .card-bg {
        margin-bottom: 75px;
    }

    .imageman {
        width: 300px;
        height:200px;
        padding-left:0px;
    }

    .benefits {
        width: 300px;
        height:200px;
    }

    .sign {
        margin-left:15px;
    }

}

