{% load static %}
<footer class="bg-dark text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
            <!--Grid row-->
            <div class="row text-center">
                <!--Grid column-->
                <div class="col-auto mb-md-0">
                    <p>
                        <strong>Sign up for our newsletter</strong>
                    </p>
                    <a href="{% url 'contact' %}" class="btn btn-outline-light">Contact</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline">
                        <input type="email" id="form5Example2" placeholder = "email address" class="form-control"/>            
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-sm-1">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light">
                    Subscribe
                    </button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
    </div>
    <div class="container">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="white"
                ><i class="fab fa-facebook-f"></i
                ></a>
            <!-- Twitter -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-twitter"></i
                ></a>
            <!-- Google -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-google"></i
                ></a>
            <!-- Instagram -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-instagram"></i
                ></a>
            <!-- Linkedin -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
            <!-- Github -->
            <a
                class="btn btn-link btn-floating btn-lg text-white m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i
                ></a>
        </section>
        <!-- Section: Social media -->
    </div>
</footer>
