{% load static %}

<footer class="bg-dark text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
            <!--Grid row-->
            <div class="row text-center">
                <!--Grid column-->
                <div class="col-auto mb-md-0 sign">
                    <p>
                        <strong>Sign up for our newsletter</strong>
                    </p>
                </div>
                <!--Grid column-->
                <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline">
                        <input type="email" action="post" id="form-e" placeholder = "email address" class="form-control"/>            
                    </div>
                </div>
                <!--Grid column-->
                <div class="col-sm-1 mt-2">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-light">
                    Subscribe
                    </button>
                </div>
            </div>
            <!--Grid row-->
            <div class="row">
                <div class="col-lg-4 col-sm-12 footer-links">
                    <a href="{% url 'contact' %}" class="footer-links">Contact</a>
                </div>
                <div class="col-lg-4 col-sm-12 footer-links">
                    <a href="{% url 'faqs' %}" class="footer-links">FAQs</a>
                </div>
                <div class="col-lg-4 col-sm-12 footer-links">
                    <a href="{% url 'about' %}" class="footer-links">About Pwdr</a>
                </div>
            </div>
        </form>
        <div class="container">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="white"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter"></i></a>
                <!-- Instagram -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
    </div>
</footer>
