{% load static %}

<footer class="bg-dark text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
        
            </div>
            <!--Grid row-->
            <div class="row">
                <div class="col-lg-3 col-sm-12 footer-links">
                    <a href="{% url 'contact' %}" class="footer-links">Contact</a>
                </div>
                <div class="col-lg-3 col-sm-12 footer-links">
                    <a href="{% url 'faqs' %}" class="footer-links">FAQs</a>
                </div>
                <div class="col-lg-3 col-sm-12 footer-links">
                    <a href="{% url 'about' %}" class="footer-links">About Pwdr</a>
                </div>
                <div class="col-lg-3 col-sm-12 footer-links">
                    <a href="{% url 'blogs' %}" class="footer-links">Blogs</a>
                </div>
            </div>
        <div class="container">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="white"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter"></i></a>
                <!-- Instagram -->
                <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
    </div>
</footer>
