
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- product dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=powders" class="dropdown-item">Powder</a>
                <a href="{% url 'products' %}?category=bars" class="dropdown-item">Bars</a>
                <a href="{% url 'products' %}?category=merch" class="dropdown-item">Merch</a>
                <a href="{% url 'products' %}?category=powders,bars,merch" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- programme dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="programmes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programmes</a>
            <div class="dropdown-menu border-0" aria-labelledby="programmes-link">
                <a href="{% url 'products' %}?category=programmes-couch" class="dropdown-item">Couch to 5k</a>
                <a href="{% url 'products' %}?category=programmes-vegan" class="dropdown-item">Vegan Vigour</a>
                <a href="{% url 'products' %}?category=programmes-workout" class="dropdown-item">Pwdr Workout Club</a>
                <a href="{% url 'products' %}?category=programmes-couch,programmes-vegan,programmes-workout" class="dropdown-item">All Programmes</a>
            </div>
        </li>
        <!-- search dropdown -->
        <li class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="search">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div> 
            </form>    
        </li>  
    </ul>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0 right-menu">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!-- bag -->
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0 right-menu">
                                {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                {% else %}
                                    €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div> 
</div>