{% extends "base.html" %}

{% block content %} 
<!--Contact form-->
    <div class="container d-flex justify-content-center text-center contact">
        <div class="card px-5 py-5 card-bg">
            <div class="card px-5 py-5 mt-3 card-inner">
                <h1>Contact Us</h1> <span>Got questions? Get in touch!</span>      
                <form method="post">
                {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-black rounded-1 mt-3 mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}