{% extends "base.html" %}

{% block content %} 
<!--Contact form-->
    <div class="container">
        <div class="row">
            <div class="col-10 md-6 contact"> 
                <h1>Contact</h1>
                <h4>Get in touch!</h4>
                    <p>
                        We LOVE hearing from you. Please get in touch with any comments or questions and we'll be sure to answer!
                    </p>
                <form method="post">
                {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-outline-black rounded-0 mt-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}