{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %} 
<!--Contact form-->
    <div class="container d-flex justify-content-center text-center contact-bg">
        <div class="card px-5 py-5">
            <div class="card px-5 py-5 mt-3">
                <h1>Contact Us</h1> <span>Got questions? Then get in touch we'll respond as soon as possible</span>
                <div class="row">
                    <div class="container d-flex justify-content-center text-center"> 
                        <form method='POST'> {% csrf_token %}
                            {% render_field form.first_name class="form-control" placeholder="Name" type="text" %}
                            {% render_field form.email_address class="form-control" placeholder="Email" type="text" %}
                            {% render_field form.message class="form-control" placeholder="Messages" type="text" %}
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}